<div id="<%= dom_id demo %>">
  <p>
    <strong>Name:</strong>
    <%= demo.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= demo.age %>
  </p>

  <p>
    <strong>city:</strong>
    <%= demo.city %>
  </p>

</div>
